body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;

  /* Background image and styling */
  background: url("img/background_test_desktop.jpg") no-repeat center center fixed;
  background-size: cover;
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  animation: rgbGlow 3s infinite;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  background-size: 300% 300%;
  animation: backgroundShift 6s infinite, rgbGlow 3s infinite;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

@keyframes rgbGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.8),
      0 0 30px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.8);
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.8),
      0 0 30px rgba(0, 255, 0, 0.8), 0 0 40px rgba(0, 255, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.8),
      0 0 30px rgba(0, 0, 255, 0.8), 0 0 40px rgba(0, 0, 255, 0.8);
  }
  75% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.8),
      0 0 30px rgba(255, 255, 0, 0.8), 0 0 40px rgba(255, 255, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.8),
      0 0 30px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.8);
  }
}

@keyframes backgroundShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Mobile-specific background and responsiveness */
@media (max-width: 768px) {
  body {
    background: url("img/Web_Background_mobile.jpg") no-repeat center center;
    background-size: cover; /* Ensure the mobile background fits */
  }

  .popup {
    width: 90%;
    padding: 15px;
    top: 30%;
  }
}


/* Hero Section */
.hero a {
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
  background: linear-gradient(45deg, #ff4dff, #ff0099, #ff66ff);
  border: 3px solid transparent;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(255, 105, 180, 0.8), 0 0 30px rgba(255, 182, 193, 0.8);
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.hero a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: linear-gradient(45deg, #ff4dff, #ff0099, #ff66ff, #ff4dff);
  z-index: 1;
  transition: transform 0.5s;
}

.hero a:hover::before {
  transform: translateX(100%);
}

.hero a:hover {
  background: linear-gradient(45deg, #ff66ff, #ff0099, #ff4dff);
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.8), 0 0 30px rgba(255, 182, 193, 0.8);
}


